<!-- <div class="container"> 
  <img class="logo" src="assets/data.jpg" style="height: 100px;width = 1600px;">
  <div class="top">Top Right</div>

</div>-->
<!-- <div id="wrapperHeader">
  <div id="header">
    <div class="topleft">Market Data Analysis</div>
    <img alt="logo" src="assets/header/mdatalogo.jpg" style="height: 61px;width: 100%;">
    <div class="topnav">

    <a routerLink="/home">Home</a>
    <a routerLink="/newsFeed">DataIQ</a>
    
    <a routerLink="/contact">Contact</a>
    <a routerLink="/config">Configuration</a>
    </div>
    

  </div>
</div> -->

<div class="topnav" id = 'cbackimg'>
    <b>Market Data Prediction</b>
    <a routerLink="/home">Home</a>
    <a routerLink="/newsFeed">DataIQ</a>
    <a routerLink="/contact">Contact</a>
    <a routerLink = "/config">Configuration</a>
    
</div>